/* Home.css */
.home {
    align-items: center;
    justify-content: center;
    margin: 50dvh 50dvh 50dvh 50dvh;
}

.home-button {
    padding: 15px 30px;
    font-size: 1.3em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.home-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.home-button:active {
    background-color: #004085;
    transform: scale(1.02);
}