/* Player.css */
.player {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.player-image {
  width: 50px; /* 이미지 크기 조정 */
  height: 50px;
  border-radius: 50%; /* 원형으로 만들기 */
}

.crown {
  position: absolute;
  top: -30px; /* 왕관의 위치를 조정하여 사진 위에 배치 */
  font-size: 30px;
}

.player-name {
  margin-top: 5px;
}