.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    overflow-y: auto;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    color: #818181;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    margin-bottom: 5px; /* 버튼 간의 간격 추가 */
}

.sidebar button:hover {
    color: #f1f1f1;
    background-color: #333;
}
