/* src/components/Topbar.css */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111; /* 사이드바와 동일한 배경색 */
  padding: 10px 20px;
  color: white; /* 텍스트 색상 */
  position: fixed; /* 상단 고정 */
  width: calc(100% - 250px); /* 사이드바 너비 제외 */
  top: 0;
  left: 250px; /* 사이드바 너비만큼 왼쪽 이동 */
  z-index: 1000; /* 상단에 고정 */
}

.topbar-left {
  flex: 1;
}

.topbar-center {
  flex: 1;
  text-align: center;
}

.topbar-center h1 {
  color: white; /* 원하는 텍스트 색상 */
  margin: 0;
  font-size: 40px;
}

.topbar-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 10%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li button {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #111; /* 사이드바와 동일한 색상 */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

nav ul li button:hover {
  background-color: #333; /* 원하는 호버 색상 */
  transform: scale(1.05);
}

nav ul li button:active {
  background-color: #333; /* 원하는 액티브 색상 */
  transform: scale(1.02);
}
